body{
    min-width: 320px;
    background: white;
    font-family: Helvetica,sans-serif;
    line-height: 1.3;
    margin-top: -60px;
}
.page{
    padding-top: 60px;
    min-height: 100vh;
    overflow: hidden;
    padding-bottom: 0;
    position: inherit;

}
.leftLogo{
    background-image: url(https://www.flirtycash.com/images/sprite.png?c5e8d19f8c14e8c9c8bbc0cacbc4e2b9);
    height: 38px;
    width: 183px;
    background-position: 0 100%;
    background-size: 378.6885245901639% 1334.2105263157896%;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}
.textCenter {
    text-align: center;
}
.a{
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
.header{
    height: 70px;
    background: transparent;
    padding: 24px 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.head{
    padding-right: 2rem;
    padding-left: 2rem;
    margin: 0 auto;
}
.rightLogo{
    display: block;
    float: right;
    color: white;
    position: relative;
    z-index: 2;
}
.rightLogo1{
    border-radius: 7px 0 0 7px;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    max-width: 66px;
    background: #fae058;
    color: black;
    padding: 2px 0px;
    text-align: center;
    position: relative;
}
.rightLogo1-1{

    border-top: 31px solid transparent;
    border-bottom: 30px solid  transparent;
    border-left: 20px solid #fae058;
    position: absolute;
    top: 0;
    left: 100%;
    display: inline-block;
    width: 0;
    height: 0;
}
.rightLogo2{
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    margin-left: 42px;
    margin-right: 3px;
}
.login{
    text-decoration: none;
    margin-top: 3px;
    display: block;
    font-size: 14px;
    color: white;
}
.login1{
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;   
}
.rightLogo3{
    display: inline-block;
    vertical-align: middle;
    padding-left: 29px;
    border-left: 1px solid black;
    margin-left: 28px;
    position: relative;
    margin-top: 8px;
}
.firstPage{
    margin-top: -60px;
    text-align: center;
    color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}
.firstPageImage{
    position: absolute;
    background-image: url(https://www.flirtycash.com/css/images/intro-bg.jpg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0;

}
.firstPage_tt{
    position: relative;
    margin-top: -91px;
}
.firstPage_title{
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 85px;
    height: 67px;
    margin-top: -125px;
}
h2{
    font-weight: 400px;
    text-transform: uppercase;
    margin-bottom: 80px;
    font-size: 34px;
}
#serius{
    background: #29c073;
    font-size: 44px;
    color: white;
    padding: 4px 8px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -4px;
    font-weight: 400px;
}
.join a:hover{
    background: none;
    color: #0b9ed1;
    border: 1px solid  #0b9ed1;
    
}
.joinNow{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    padding: 14px 21px;
    background: #0b9ed1;
    border: 1px solid #0b9ed1;
    min-width: 135px;
    transition: all 0.4s ease;
}
.logoBot{
    font-size: 17px;
    position: absolute;
    bottom: -5px;
    left: 0;
    text-transform: uppercase;
    display: inline-block;
    text-align: left;
}
.logoBot1{
    font-size: 16px;
    color: black;
    background: #fae058;
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    padding: 17px 16px 14px 21px;
    border-radius: 0 5px 0 0;
}
.logoBot1 > strong{
    font-size: 50px;
    display: block;
    line-height: .9;
}
.logoBot2a{
    background: #29c073;
    color: white;
    text-decoration: none;
    padding: 5px 10px 5px 20px;
    display: block;
    position: relative;
    display: flex;
    flex-direction: column;

}
.logoBot2a > strong{
    letter-spacing: -.05em;
    font-weight: 400;
}
.logoBot2a > small{
    font-size: 11px;
    display: block;
    line-height: 1;
    margin-top: 3px;
    text-transform: lowercase;
    letter-spacing: -.05em;
    margin-bottom: 3px;
}
.logo3{
    position: absolute;
    left: 100%;
    top: 96px;
    border-top: 27px solid transparent;
    border-bottom: 21px solid transparent;
    border-left: 22px solid #29c073;
    height: 1px;
}
.sectionSteps{
    position: relative;
    text-align: center;
    padding: 20px 0 50px;
}
.blackBot{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: black;
    z-index: 1;
}
.conteiner{
    width: 70rem;
    margin: 0 auto;

}
.sectionTitle{
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: -.03em;
    font-weight: 400;
    font-size: 34px;
    text-align: center;
    margin-bottom: 40px;
}
.sectionTitle > strong{
    color: #29c073;
}
.steps{
    position: relative;
    text-align: center;
}
.row{
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    justify-content: center;
    margin-right: -1rem;
    margin-left: -1rem;

}
.square{
    margin-bottom: 30px;
    flex-basis: 50%;
    max-width: 43%;
    padding-right: 40px;
    z-index: 2;
}
.step{
    color: #39b2e1;
    width: 65px;
    height: 65px;
    text-align: center;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    line-height: 65px;
    font-size: 40px;
    position: relative;
}
.stepImage{
    background-image: url(https://www.flirtycash.com/images/sprite.png?c5e8d19…);
    height: 137px;
    width: 195px;
    background-position: 40.918164% 0px;
    margin: 0 auto;
}
.step2Image{
    background-image: url(https://www.flirtycash.com/images/sprite.png?c5e8d19…);
    background-position: 0 36.24338624338625%;
    background-size: 396% 393.0232558139535%;
    width: 177px;
    height: 129px;
    margin: 0 auto;
    margin-top: 29px;
}
.step3Image{
    background-image: url(https://www.flirtycash.com/images/sprite.png?c5e8d19…);
    background-position: 0 0;
    background-size: 344.77611940298505% 381.203007518797%;
    width: 201px;
    height: 133px;
    margin: 0 auto;
}
.stepContent{
    padding-top: inherit;
}
.square-1{
    font-size: 18px;
    border: 1px solid wheat;
    border-radius: 5px;
    padding: 60px 0 43px;
    background: white;
}
.sectionFeatures{
    background: black;
    padding: 90px 0 391px;
    position: relative;
    color: black;
}
.imageBot{
    background-image: url(https://www.flirtycash.com/images/wave.png?bfa75e2c63f959da7af2ab5637984d65);
    content: "";
    height: 287px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.features{
    padding: 0;
    margin: 0;
    outline: 0;
    width: 115%;
    margin-top: 100px;
}
.col2{
    padding-right: 40px;
    flex-basis: 50%;
    max-width: 50%;
}
.colImage1{
    background-image: url(https://www.flirtycash.com/images/sprite.png?c5e8d19f8c14e8c9c8bbc0cacbc4e2b9);
    background-position: 96.36650868878357% 43.55555555555555%;
    background-size: 1155% 889.4736842105264%;
    width: 60px;
    height: 57px;
}
.featureTitle{
    color: white;
    text-transform: uppercase;
    font-size: 18px;

}
.colImage2{
    background-image: url(https://www.flirtycash.com/images/sprite.png?c5e8d19f8c14e8c9c8bbc0cacbc4e2b9);
    background-position: 81.77570093457945% 78.52348993288591%;
    background-size: 1358.8235294117646% 844.9999999999999%;
    width: 51px;
    height: 60px;
}
.colImage3{
    background-image: url(https://www.flirtycash.com/images/sprite.png?c5e8d19f8c14e8c9c8bbc0cacbc4e2b9);
    background-position: 89.92248062015504% 78.52348993288591%;
    background-size: 1443.75% 844.9999999999999%;
    width: 48px;
    height: 60px;
}
.colImage4{
    background-image: url(https://www.flirtycash.com/images/sprite.png?c5e8d19f8c14e8c9c8bbc0cacbc4e2b9);
    background-position: 97.94628751974723% 29.082774049217004%;
    background-size: 1155% 844.9999999999999%;
    width: 60px;
    height: 60px;
}
.number{
    color: #29c073;
    font-size: 36px;
}
.featureContent{
    color: #687178;
}
.sectionTools{
    padding: 140px 0 196px;
    min-height: 620px;
    overflow: hidden;

}
.sectionInner{
    position: relative;
}
.sectionHead{
    color: #54575e;
    max-width: 100%;
    position: relative;
    z-index: 1;
    letter-spacing: -.02em;

}
.innerImage{
    width: 929px;
    position: absolute;
    top: -8px;
    left: 339px;

}
img{
    height: auto;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}
.sectionBody{
    position: relative;
}
ul{
    list-style: none inside url(http://webcoban.vn/public/home/img_demo/iconulli.jpg);
    padding: 0;
}
li{
    padding: 16px;
    font-size: 18px;
}
#seting{
    max-width: 680px;
    margin: 0 auto;
    text-align: center;

}
.sectionPlans{
    background-image: url(https://www.flirtycash.com/images/dolars@2x.jpg?9ad05106f4c4a1a5626002157bd17ecd);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position-x: 50%;
    background-position-y: bottom;
}
table{
    border-collapse: collapse;
    width: 352px;
    height: 510px;
}
th{
    background-color: #25313d;
    color: white;
    padding: 20px 0;
}
td{
    padding: 0 25px;
}
td{
    font-size: 14px;
}
td + *{
    color: #29c073;
    text-align: right;

}
.row1{
    padding-left: 40px;
    
}
.row2{
    border: 1px solid wheat;
    border-radius: 10px 10px 0 0;
    background-color: white;
    overflow: hidden;
}
.sectionFront{
    text-align: center;
    font-size: 24px;
    margin-bottom: 60px;
    font-weight: 400;
    padding-top: 90px;
}
.plans{
    padding-bottom: 131px;
}
.sectionOut{
    background-image: url(https://www.flirtycash.com/images/dolars-2@2x.jpg?121ef3abf278b5566851f0f66e8ccb06);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    color: #fff;
    padding: 133px 0 138px;
}
.sectionHead > h2{
    color: white;
}
.sectionHead > h5{
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.sectionContact{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    color: #0b9ed1;
    font-weight: 400;
    padding: 14px 21px;
    background: transparent;
    border: 1px solid #0b9ed1;
    min-width: 135px;
    transition: all 0.4s ease;
}
.join .sectionContact:hover{
    background: #0b9ed1;
    color: #fff;
}
#or{
    margin: 0 17px;
    font-size: 18px;
}
.footer{
    margin: 40px;
}
